
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   <div style="height:100px;font-weight:bold;text-align:center; margin-top:60px;"><span style="text-align: center;font-size:25px;color:white; background-color: green;background-size:50px;border-radius:15px;padding :15px">Đăng kí</span></div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="col-md-3"></div>
            <div class="col-md-6 check-name">

                <div>
                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input  id="HotenKH" name="HotenKH" type="text" class="form-control" placeholder="Họ tên khách hàng" id="HotenKH">
                                @ViewData["Loi1"]

                            </div>
                        </div>
                        <div class="col-sm-12" style="height:20px"></div>
                        <div class="form-group">

                            <div class="col-sm-12">

                                <input id="TenDN" name="TenDN" type="text" class="form-control" placeholder="Tên đăng nhập">
                                @ViewData["Loi2"]

                            </div>
                        </div>
                        <div class="col-sm-12" style="height:20px"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="Matkhau" name="Matkhau" type ="password" class="form-control" placeholder="Mật khẩu">
                               
                                @ViewData["Loi3"]
                            </div>
                        </div>

                        <div class="col-sm-12" style="height:20px"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="Matkhaunhaplai" name="Matkhaunhaplai" type="password" class="form-control" placeholder="Nhập lại mật khẩu">

                                @ViewData["Loi4"]
                            </div>
                        </div>
                        <div class="col-sm-12" style="height:20px"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="Ngaysinh" name="Ngaysinh" type="date" class="form-control" placeholder="Ngày sinh">
                               

                            </div>
                        </div>
                        <div class="col-sm-12" style="height:20px"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="Diachi" name="Diachi" type="text" class="form-control" placeholder="Địa chỉ">
                                @ViewData["Loi5"]

                            </div>
                        </div>
                        <div class="col-sm-12" style="height:20px"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="Dienthoai" name="Dienthoai" type="number" class="form-control" placeholder="Điện thoại">
                                @ViewData["Loi6"]

                            </div>
                        </div>

                    </form>
                    <a href="#" style="color:darkblue">Quên mật khẩu?</a>
                    <br>

                    <tr>
                        <td></td>
                        <td>

                            <input type="submit" value="Đăng kí" style="height:40px;background-color:green;color:black;border-radius:10px;padding:10px;" />
                        </td>
                    </tr>

                </div>
                <div class="col-md-3"></div>
            </div>




}


@*<div class="panel panel-default">


    <div id="collapseOne" class="panel-collapse collapse in panel-body">
        <table align="center">
            <h2 style="text-align:center">ĐĂNG KÝ KHÁCH HÀNG</h2>




            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <tr style="height:40px">
                    <td>Họ tên khách hàng: </td>
                    <td>
                        @Html.TextBox("HotenKH")
                        @ViewData["Loi1"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td>Tên đăng nhập: </td>
                    <td>
                        @Html.TextBox("TenDN")
                        @ViewData["Loi2"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td>Mật khẩu: </td>
                    <td>
                        @Html.Password("Matkhau")
                        @ViewData["Loi3"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td>Nhập lại mật khẩu: </td>
                    <td>
                        @Html.Password("Matkhaunhaplai")
                        @ViewData["Loi4"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td>Ngày sinh: </td>
                    <td>
                        <input type="date" name="Ngaysinh" />
                    </td>
                </tr>
                <tr style="height:40px">
                    <td>Địa chỉ: </td>
                    <td>
                        @Html.TextBox("Diachi")
                        @ViewData["Loi5"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td>Số điện thoại: </td>
                    <td>
                        @Html.TextBox("Dienthoai")
                        @ViewData["Loi6"]
                    </td>
                </tr>
                <tr style="height:40px">
                    <td></td>
                    <td>
                        <input type="submit" value="Đăng ký" />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>*@
