@model WebBanRauProject.Models.KHACHHANG
@{
    ViewBag.Title = "ThongTinKhachHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div align="center" >
   
        
        <div style="height:100px;text-align:center; margin-top:20px;"><span style="text-align: center;font-size:25px;color :white;font-weight:bold; background-color: green;background-size:50px;border-radius:15px;padding :15px">Thông tin khách hàng</span></div>
        <div style="background-color:lightgreen;border-radius:30px;padding:20px;width:60%">
            <table>
                <tr>
                    <td>Tên Khách Hàng: </td>
                    <td style="font-weight:bold">@Model.HOTEN</td>
                </tr>
                <tr>
                    <td>Ngày sinh: </td>
                    <td style="font-weight:bold">@Model.NGAYSINH</td>
                </tr>
                <tr>
                    <td>Địa chỉ: </td>
                    <td style="font-weight:bold">@Model.DiachiKH</td>
                </tr>
                <tr>
                    <td>Số điện thoại: </td>
                    <td style="font-weight:bold">@Model.DIENTHOAIKH</td>
                </tr>
            </table>
</div>
    <div style="background-color:green;border-radius:10px;padding:10px;width:10%;padding-top">
        <tr>
            <td></td>

            <td>@Html.ActionLink("Sửa", "SuaThongTinKH", new { id = Model.MAKH })</td>
        </tr>
    </div>
   
</div> 
