@model IEnumerable<WebBanRauProject.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết đơn hàng</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <table class="table">
            <tr>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Giá tiền
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SANPHAM.TENSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SOLUONG)
                        @ViewBag.ThongBao
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DONGIA)
                    </td>
                </tr>
            }
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xác nhận đơn đặt hàng" class="btn btn-default" />
            </div>
        </div>
    </div>
}
