@model WebBanRauProject.Models.NHACUNGCAP

@{
    ViewBag.Title = "ChitietNCC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        margin-top: 20px;
        margin-left: 400px;
    }

        #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #table tr:hover {
            background-color: #ddd;
        }

        #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: white;
            color: black;
        }
</style>

<h2 style="color: brown ; font-size:20px; text-align:center">CHI TIẾT NHÀ CUNG CẤP</h2>

<table id="table">

    <tr>
        <th>
            Tên Nhà Cung Cấp
        </th>

        <td>
            @Html.DisplayFor(model => model.TENCC)
        </td>
    </tr>
        
    <tr>
        <th>
        Địa chỉ
        </th>

        <td>
            @Html.DisplayFor(model => model.DIACHI)
        </td>
    </tr>
        
    <tr>
        <th>
            Hình ảnh
        </th>

        <td>
            <img src="@Url.Content("~/images/"+  Model.HINHANH)" width="120px" />
        </td>
    </tr>

      <tr>
          <th>
              Điện thoại
          </th>

          <td>
              @Html.DisplayFor(model => model.DIENTHOAI)
          </td>
      </tr>  

    <tr>
        <th>
            Mô tả
        </th>

        <td>
            @Html.DisplayFor(model => model.MOTA)
        </td>
    </tr>
       

        

</table>
<p style="text-align:center; margin-top:10px">
    <button>
            @Html.ActionLink("SỬA", "SuaNCC", new { id = Model.MANCC }) 
    </button>

    <button>
            @Html.ActionLink("TRỞ VỀ", "NCC")
    </button>
    
</p>
