@model WebBanRauProject.Models.QuanLyGoiYMonAn

@{
    ViewBag.Title = "ChitietMonAn";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color: brown ; font-size:20px">CHI TIẾT MÓN ĂN</h2>

<div>
    <h4>QuanLyGoiYMonAn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            TÊN MÓN ĂN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENMONAN)
        </dd>

        <dt>
            MÔ TẢ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            HÌNH ẢNH
        </dt>

        <dd>
            <img src="@Url.Content("~/images/"+Model.HINHANH)" width="120px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("SỬA", "SuaMonAn", new { id = Model.MASO }) |
    @Html.ActionLink("TRỞ VỀ", "MonAn")
</p>
