@model WebBanRauProject.Models.SANPHAM

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    #table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        margin-top: 20px;
        margin-left:400px;
    }

        #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #table tr:hover {
            background-color: #ddd;
        }

        #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: white;
            color: black;
            
        }
</style>
<h2 style="color: brown ; font-size:20px">THÔNG TIN CHI TIẾT RAU</h2>
    <table id="table">
        <tr>
            <th>
                Tên sản phẩm:
            </th>

            <td>
                @Html.DisplayFor(model => model.TENSP)
            </td>
        </tr>

         <tr>
             <th>
                 Giá bán(/kg):
             </th>

             <td>
                 @String.Format("{0:0,0}", Model.GIABAN) VNĐ
             </td>
         </tr>

         <tr>
             <th>
                 Mô tả:
             </th>

             <td>
                 @Html.DisplayFor(model => model.MOTA)
             </td>

         </tr>    
            
        <tr>
            <th>
                Ảnh sản phẩm:
            </th>

            <td>
                <img src="@Url.Content("~/images/"+Model.ANHSP)" width="120px" />
            </td>
        </tr>
           
        <tr>
            <th>
                Ngày nhập hàng:
            </th>

            <td>
                @String.Format("{0:dd/MM/yyyy}", Model.NGAYCAPNHAT)
            </td>
        </tr>
            
        <tr>
            <th>
                Số lượng tồn:
            </th>

            <td>
                @Html.DisplayFor(model => model.SOLUONGTON)
            </td>
            </tr>
        <tr>
            <th>
                Tên loại:
            </th>

            <td>
                @Html.DisplayFor(model => model.LOAIRAU.TENLOAI)
            </td>
        </tr>
            
        <tr>
            <th>
                Tên nhà cung cấp:
            </th>

            <td>
                @Html.DisplayFor(model => model.NHACUNGCAP.TENCC)
            </td>
        </tr>
            
    </table>
<p style="text-align:center">
    <button>
@Html.ActionLink("SỬA", "SuaRau", new { id = Model.MASP })
    </button>
    <button>
        @Html.ActionLink("TRỞ VỀ", "Rau")
    </button>
   
</p>
