@model IEnumerable<WebBanRauProject.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        margin-top: 20px;
        margin-left: 400px;
    }

        #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #table tr:hover {
            background-color: #ddd;
        }

        #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: white;
            color: black;
        }
</style>

<h2 style="color: brown ; font-size:20px; text-align:center">CHI TIẾT ĐƠN HÀNG</h2>
<table id="table">
            <tr>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Giá tiền
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SANPHAM.TENSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SOLUONG)
                        @ViewBag.ThongBao
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DONGIA)
                    </td>
                </tr>
            }
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="left:315px">
                <input type="submit" value="XÁC NHẬN ĐƠN HÀNG" class="btn btn-default" />
                <button class="btn btn-default">
                    @Html.ActionLink("TRỞ VỀ", "DanhSachDonHang")
                </button>
            </div>
        </div>
    
