@model IEnumerable<WebBanRauProject.Models.KHACHHANG>
@{
    ViewBag.Title = "KhachHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color: brown ; font-size:20px; text-align:center">Quản lý khách hàng</h2>


<table id="table">
    <tr>
        
        <th style="text-align:center; width:15%">Họ tên</th>
        <th style="text-align:center; width:15%">Tài khoản</th>
        <th style="text-align:center; width:15%">Mật khẩu</th>
        <th style="text-align:center; width:10%">Ngày sinh</th>
        <th style="text-align:center; width:15%">Địa chỉ</th>
        <th style="text-align:center; width:15%">Điện thoại</th>
        <th style="text-align:center; width:15%">Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HOTEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAIKHOAN)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MATKHAU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYSINH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiachiKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIENTHOAIKH)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "ChitietKhachHang", new { makh = item.MAKH }) 
            </td>
        </tr>
    }

</table>