@model IEnumerable<WebBanRauProject.Models.QuanLyGoiYMonAn>

@{
    ViewBag.Title = "MonAn";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>
    MÓN ĂN
</h2>

<p>
    @Html.ActionLink("Thêm Mới Món Ăn", "ThemmoiMonAn")
</p>
<table class="table">
   
    <tr>
        <th style="width:200px">TÊN MÓN ĂN</th>
        <th style="width:200px">MÔ TẢ</th>
        <th style="width:200px">HÌNH ẢNH</th>
        <th style="width:200px">CHỨC NĂNG</th>
    </tr>
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENMONAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOTA)
        </td>
        <td>
            <img src="@Url.Content("~/images/"+item.HINHANH)" width="150px" height="150px">
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaMonAn", new { id=item.MASO }) |
            @Html.ActionLink("Xem chi tiết", "ChitietMonAn", new { id=item.MASO }) |
            @Html.ActionLink("Xóa", "XoaMonAn", new { id=item.MASO })
        </td>
    </tr>
}

</table>

