@model IEnumerable<WebBanRauProject.Models.QuanLyGoiYMonAn>

@{
    ViewBag.Title = "MonAn";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color: brown ; font-size:20px">
    MÓN ĂN
</h2>

<p>
    <button class="btn btn-success" type="button">@Html.ActionLink("Thêm Mới Món Ăn", "ThemmoiMonAn")</button>
</p>
<div class="panel panel-default table-responsive">
    <div class="panel-heading">
        Data Table
        <span class="label label-info pull-right">@Model.Count() món ăn</span>
    </div>
    <div class="padding-md clearfix">
        <table class="table table-striped" id="dataTable">
            <thead>
                <tr>
                    <th style="text-align:center;width: 15%">TÊN MÓN ĂN</th>
                    <th style="text-align:center;width: 55%">MÔ TẢ</th>
                    <th style="text-align:center;width: 15%">HÌNH ẢNH</th>
                    <th style="text-align:center;width: 15%">CHỨC NĂNG</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr style="text-align:center">
                    <td>
                        @Html.DisplayFor(modelItem => item.TENMONAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MOTA)
                    </td>
                    <td>
                        <img src="@Url.Content("~/images/"+item.HINHANH)" style="width: 150px; height: 150px">
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "SuaMonAn", new { id = item.MASO }) |
                        @Html.ActionLink("Xem chi tiết", "ChitietMonAn", new { id = item.MASO }) |
                        @Html.ActionLink("Xóa", "XoaMonAn", new { id = item.MASO })
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div><!-- /.padding-md -->
</div>
