@model IEnumerable<WebBanRauProject.Models.SANPHAM>

@{
    ViewBag.Title = "Rau";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color: brown ; font-size:20px">SẢN PHẨM</h2>
<p>
    <button class="btn btn-success" type="button">@Html.ActionLink("Thêm mới", "ThemmoiRau")</button>
</p>


<div class="panel panel-default table-responsive">
    <div class="panel-heading">
        Data Table
        <span class="label label-info pull-right">@Model.Count() sản phẩm</span>
    </div>
    <div class="padding-md clearfix">
        <table class="table table-striped" id="dataTable">
            <thead>
                <tr>
                    <th style="text-align:center;width:10%">Tên sản phẩm
                    </th>
                    <th style="text-align:center;width:10%">Giá bán/kg</th>
                    <th style="text-align:center;width:20%">Mô tả</th>
                    <th style="text-align:center;width:15%">Ảnh</th>       
                    <th style="text-align:center;width:8%">Ngày nhập</th>    
                    <th style="text-align:center;width:5%"> SL tồn</th>        
                    <th style="text-align:center;width:5%">Loại rau</th>
                    <th style="text-align:center;width:12%">Tên nhà cung cấp</th>
                    <th style="text-align:center;width:20%">Chức năng</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr style="text-align:center">
                    <td>
                        @Html.DisplayFor(modelItem => item.TENSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GIABAN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MOTA)
                    </td>
                    <td>
                        <img src="@Url.Content("~/images/"+item.ANHSP)" width="120px" height="100px">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NGAYCAPNHAT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SOLUONGTON)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LOAIRAU.TENLOAI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NHACUNGCAP.TENCC)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa", "SuaRau", new { id=item.MASP }) |
                        @Html.ActionLink("Chi tiết", "Chitietrau", new { id=item.MASP }) |
                        @Html.ActionLink("Xóa", "XoaRau", new { id=item.MASP })
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div><!-- /.padding-md -->
</div>