@model WebBanRauProject.Models.QuanLyGoiYMonAn

@{
    ViewBag.Title = "XoaMonAn";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        margin-top: 20px;
        margin-left: 400px;
    }

        #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #table tr:hover {
            background-color: #ddd;
        }

        #table th {
            padding-top: 22px;
            padding-bottom: 12px;
            text-align: left;
            background-color: white;
            color: black;
        }
</style>



<h2 style="color: brown ; font-size:20px; text-align:center">XÓA MÓN ĂN</h2>


<table id="table">
    <tr>
        <th>
            Tên món ăn:
        </th>

        <td>
            @Html.DisplayFor(model => model.TENMONAN)
        </td>
    </tr>
    
    <tr>
        <th>
            Mô tả:
        </th>

        <td>
            @Html.DisplayFor(model => model.MOTA)
        </td>
    </tr>
    
    <tr>
        <th>
            Hình ảnh:
        </th>

        <td>
            <img src="@Url.Content("~/images/"+Model.HINHANH)" width="120px" />
        </td>
    </tr>
    

</table>

<h1 style="color: black ; font-size:20px ;text-align:center">Bạn có muốn xóa món ăn này?</h1>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" align="center">
            <input type="submit" value="XÓA" class="btn btn-default" /> 
            <button class="btn btn-default">
                @Html.ActionLink("TRỞ VỀ", "MonAn")
            </button>
        </div>
    }

