@model WebBanRauProject.Models.SANPHAM

@{
    ViewBag.Title = "XoaRau";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        margin-top: 20px;
        margin-left:400px;
    }

        #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #table tr:hover {
            background-color: #ddd;
        }

        #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: white;
            color: black;
            
        }
</style>

<h2 style="color: brown ; font-size:20px; text-align:center">XÓA RAU</h2>


    <table id="table">
        <tr>
            <th>
                Tên sản phẩm:
            </th>

            <td>
                @Html.DisplayFor(model => model.TENSP)
            </td>
        </tr>
        
        <tr>
            <th>
                Giá bán:
            </th>

            <td>
                @Html.DisplayFor(model => model.GIABAN)
            </td>
        </tr>
        <tr>
            <th>
                Mô tả:
            </th>

            <td>
                @Html.DisplayFor(model => model.MOTA)
            </td>
        </tr>

        <tr>
            <th>
                Ảnh sản phẩm:
            </th>

            <td>
                <img src="@Url.Content("~/images/"+Model.ANHSP)" width="120px" />
            </td>
        </tr>

        <tr>
            <th>
                Ngày cập nhật:
            </th>

            <td>
                @Html.DisplayFor(model => model.NGAYCAPNHAT)
            </td>
        </tr>

       <tr>
           <th>
               Số lượng tồn:
           </th>

           <td>
               @Html.DisplayFor(model => model.SOLUONGTON)
           </td>
       </tr>

        <tr>
            <th>
                Mã loại:
            </th>

            <td>
                @Html.DisplayFor(model => model.MALOAI)
            </td>
        </tr>

        <tr>
            <th>
                Mã nhà cung cấp:
            </th>

            <td>
                @Html.DisplayFor(model => model.MANCC)
            </td>
        </tr>

        
</table>
   
<h3 style="color: black ; font-size:20px ;text-align:center"  >Bạn quyết định xóa loại rau này?</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" align="center">
            <input type="submit" value="XÓA" class="btn btn-default" /> 
            <button class="btn btn-default">
                @Html.ActionLink("TRỞ VỀ", "Rau", "Admin")
            </button>
        </div>
    }

